@model IEnumerable<CartItemDto>

@{
    ViewData["Title"] = SharedLocalizer["ShoppingCart"];
}

<h1 class="my-4">@SharedLocalizer["YourShoppingCart"]</h1>

<div id="cartItemsContainer">
    @await Html.PartialAsync("_CartItemsPartial", Model)
</div>

@section Scripts {
    <script>
  
    </script>
}