html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.region-container {
    display: flex;
    align-items: center;
}
.region-label {
    white-space: nowrap;
}


.product-image {
    padding: 15px;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.finish-card.active {
    border: 2px solid #0d6efd !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.finish-card:hover {
    border-color: #0d6efd;
}
